.body__home{
    background-image: url("/asset/home/background-home-mobile.jpg");
}
header{
    width: 90%;
    align-items: center;
    margin: 0 auto;
}
header .header__nav{
    width: 50px;
    height: 50px;
    margin-top: 10px;
    background-image: url("/asset/shared/icon-hamburger.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
header picture{
    width: 50px;
    height: 50px;
    margin-top: 10px;
}
header img{
    width: 100%;
    height: 100%;
    margin: 0;

}
.header__nav-items{
    display: none;
}
/* Main for the home page */
.main__home-content{
  width: 95%;
  margin: 0 auto;
}
.main__home-content__left{
    align-items: center;
    margin: 50px  0 50px 0;
}

.main__home-content__left p:nth-child(1){
    font-size: 1.6rem; 
}
.main__home-content__left p:nth-child(2){
    font-size: 8rem; 
}
.main__home-content__left p:nth-child(3){
    font-size: 1.3rem; 
}
.main__home-content__right{
    justify-content: center;
}
.main__home-content__right  div{
    width: 150px;
    height: 150px;
}
.main__home-content__right  div p{
    font-size: 2rem ;
}
/* Here start the destination page */
.destination__left{
    justify-content: center;
    height: 40%;
}
.destination__right{
    height: 60%;
}
.destination__left-title{
    align-self: center;
}
.destination__left img{
    width: 150px;
    height: 150px;
    margin-top: 30px;
}
.destination__right{
    margin-top: 0px;
}
.destination__right-container{
    width: 100%;
    margin: 0;
}
.destination__right-container__title{
   margin-top: 5px;
   font-size: 5.6rem;
}
.destination__right-container__description{
    font-size: 1.5rem;
    line-height: 20px;
    margin-top: 0;
}
.destination__right-container__data{
 margin-top: 15px;
 padding-top: 10px;
 flex-direction: column;
}
.destination__right-container__data .left{
    margin-right: 0;
}
.destination__right-container__data .right{
    text-align: center;
    margin-top: 20px;
}
/* Here start the styles for crews */

.body__crew{
    background-image: url("/asset/crew/background-crew-mobile.jpg");
}
.main__crew-left{
    order: 2;
    height: 60%;
    position: relative;
}
.main__crew-right{
    order: 1;
    border-bottom: 1px solid #979797;
    height: 40%;
    position: relative;
    margin-top: 70px;
}
.main__crew-left__container{
    width: 100%;
    margin-top: 0;
}
.main__crew-left__container-info{
    margin-top: 0px;
}
.main__crew-left__container-title{
   display: none;
}
.main__crew-left__container-info p:nth-child(1){
    font-size: 2rem;
    margin-top: 60px;
    font-family: 'Bellefair', serif;
    letter-spacing: 2px;
    word-spacing: 0px;
}
.main__crew-left__container-info p:nth-child(2){
    font-size: 3rem;
    font-family: 'Bentham', serif;
}
.main__crew-left__container-info p:nth-child(3){
   line-height: 22px;
   margin-top: 10px;
}
.main__crew-left__container-info p:nth-child(3) br{
    display: none;
}

.main__crew-left__container-leyer{
    display: flex;
    position: absolute;
    margin-top: 0;
    top: 30px;
    width: 100%;
}
.main_crew-specialist{
    height: 35%;
}
/* Here start the technology page */
.body__technology{
    background-image: url("/asset/technology/background-technology-mobile.jpg");

}