.body__home{
    background-image: url("/asset/home/background-home-mobile.jpg");
}
header{
    width: 100%;
    align-items: center;
}
header .header__nav{
    width: 50px;
    height: 50px;
    margin: 50px;
    background-image: url("/asset/shared/icon-hamburger.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
header picture{
    width: 70px;
    height: 70px;
    margin: 50px;
}
header img{
    width: 100%;
    height: 100%;
    margin: 0;

}
.header__nav-items{
    display: none;
}