.body__home{
    background-image: url("/asset/home/background-home-tablet.jpg");
}
header{
    justify-content: space-between;
    padding-top: 0;
}
.header__nav-border{
    display: none;
}
header picture{
    width: 30%;
}
header img{
    width: 50px;
    height: 50px;
    margin-top: 40px;
}
.header__nav{
    width: 70%;
    height: 120px;
    background-color:#979797;
    display: none;
}
.header__nav-items li a b{
    display: none;
}

/* Main for the home page */

.main__home-content{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.main__home-content__left{
    align-items: center;
    margin: 70px  0 100px 0;
}
.main__home-content__left p:nth-child(1){
    font-size: 2rem; 
}
.main__home-content__left p:nth-child(2){
    font-size: 15rem; 
}
.main__home-content__left p:nth-child(3){
    font-size: 1.6rem; 
    text-align: center;
    line-height: 30px;
}
.main__home-content__right{
    justify-content: center;
}
.main__home-content__right  div{
    width: 250px;
    height: 250px;
}
.main__home-content__right  div p{
    font-size: 3.5rem ;
}

