.body__home{
    background-image: url("/asset/home/background-home-tablet.jpg");
}
header{
    justify-content: space-between;
    padding-top: 0;
    height: 10vh;
}
.header__nav-border{
    display: none;
}
header picture{
    width: 30%;
}
header img{
    width: 50px;
    height: 50px;
    margin-top: 40px;
}
.header__nav{
    width: 70%;
    height: 120px;
    background-color:#979797;
    display: none;
}
.header__nav-items li a b{
    display: none;
}

/* Main for the home page */

.main__home-content{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.main__home-content__left{
    align-items: center;
    margin: 70px  0 100px 0;
}
.main__home-content__left p:nth-child(1){
    font-size: 2rem; 
}
.main__home-content__left p:nth-child(2){
    font-size: 15rem; 
}
.main__home-content__left p:nth-child(3){
    font-size: 1.6rem; 
    text-align: center;
    line-height: 30px;
}
.main__home-content__right{
    justify-content: center;
}
.main__home-content__right  div{
    width: 250px;
    height: 250px;
}
.main__home-content__right  div p{
    font-size: 3.5rem ;
}

/* Here start the destination page */

.body__destination{
    background-image: url("/asset/destination/background-destination-tablet.jpg");
}

.main__destination{
   display: flex;
   flex-direction: column;
   width: 90%;
   margin: 0 auto;
   height: 90vh;
}
.destination__left{
  height: 30%;
}
.destination__right{
   height: 70%;
}
.destination__left-title{
    align-self: start;
    font-size: 1.8rem;
    margin-top: 30px;
}
.destination__left img{
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-right: 0px;
    align-self: auto;
}
.destination__right{
    align-items: center;
    margin-top: 70px;
}
.destination__right-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 70px 0 0 0;
}
.destination__right-container__nav li{
    margin: 0 0 0 10px;
}
.destination__right-container__title{
    margin: 50px 0 0 0;
}
.destination__right-container__description{
   text-align: center;
   margin-left: 0;
}
.destination__right-container__description br{
    display: none;
}
.destination__right-container__data{
    margin: 70px 0 0 0;
    border-top: 1px solid var(--DESTINATION-color);
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.destination__right-container__data .left{
    margin-right: 50px;
    text-align: center;
}
/* Here start the styles for crews */
.body__crew{
    background-image: url("/asset/crew/background-crew-tablet.jpg");
}
.main__crew{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    height: 90vh;
}
.main__crew-left{
    width: 100%;
    height: 50%;
    order: 1;
    place-content: center;
    display: flex;
 }
 .main__crew-right{
    width: 100%;
    height: 50%;
    order: 2;
}
.main__crew-left__container{
    width: 100%;
}

.main__crew-left__container-info{
    text-align: center;
    margin-top: 70px;
}
.main__crew-left__container-leyer {
    justify-content: center;
    margin-top: 50px;
}